*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(221, 209, 184);
}

:root{
    --bg-color: #fff;

    --color-purple: #55165E;
    --color-txt: #d3d3d3;
    --h1-color: #702364;
    
    --button-color-hover: #993399;
    --border-color: #631557;

}

h1{
    font-family: "Inter", sans-serif;
    color: var(--h1-color);
    letter-spacing: .1rem;
}

span{
    color: var(--color-txt);
    letter-spacing: .1rem;
}

.icons{
    width: 2rem;
}

.logo{
    width: 17rem;
    padding: 1rem;
    margin-bottom: 1rem;
}